.window {
  display: flex;
  justify-content: space-between;
  transform: translateX(0%);
  transition: 1s;
  background: rgb(128, 128, 244);
  border-radius: 15px;
}

.window_close {
  filter: blur(100px);
  transition: 3s;
  width: 0px;
}

.content {
  display: flex;
  padding-bottom: 15px;
}

.content_close {
  display: none;
}