.danger, .other, .registr,
.login, .buy, .sent{
    padding: 5px;
    border-radius: 5px;
    border: none;
    font-size: 14px;
    font-weight: 600;
    font-style: italic;

}
.danger{
    background:red;
}
.other{
    background: aqua;
}
.registr{
    background: blue;
}
.login{
    background: green;
}
.buy{
    background: teal;

}
.sent{
    background: yellow;
}