.label{
    position: fixed;
    bottom: 20%;
    filter:opacity(40%);
    right: 5%;
    border: none;
    border-radius: 50%;
    padding: 10px;
    background: rgb(22 163 74);
    transition: 1s;
    
}
.label:hover{
    transition: 1s;
    filter:opacity(100%);
    cursor: pointer;
}
.window{

width: 350px;
    padding: 10px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: rgb(22 163 74);

}
.window_close{
    display: none;
}
.label_close{
    display: none;
}



@media (max-width: 500px) {
    .window{
        position: fixed;
        width: 350px;
        top: 30%;
        left: 0%;
        right: 100%;
    
    }
}